@page "/"

@using System.Diagnostics

@inject MyAuthenticationStateProvider MyAuth

@*@attribute [Authorize(Policy = MyPolicies.IsAgent)]*@

@*@attribute [Authorize]*@


<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome @context.User.Identity.Name</p>
    </Authorized>

    <NotAuthorized>
        <p>You are signed out.</p>
    </NotAuthorized>

    <Authorizing>
        <text>Please wait, we are authorizint the user.</text>
    </Authorizing>
</AuthorizeView>


@code {

    protected override async Task OnInitializedAsync()
    {
        Debug.WriteLine("");
        Debug.WriteLine($"Index  OnInitializedAsync  fired...");

        //var myStateProv = AuthenticationStateProvider as MySAuthenticationStateProvider;
        //myStateProv.LoadUser("mperry", "testtest");


        //MyAuth.LoadUser("mperry", "testtest");

        //var AuthState = await MyAuth.GetAuthenticationStateAsync();
    }


}
