@page "/"

@inject MyAuthenticationStateProvider MyAuth

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome @context.User.Identity.Name</p>
    </Authorized>

    <NotAuthorized>
        <p>You are signed out.</p>
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                </NavLink>
            </li>*@
    </NotAuthorized>
</AuthorizeView>


@code {

    protected override async Task OnInitializedAsync()
    {
        //var myStateProv = AuthenticationStateProvider as MySAuthenticationStateProvider;
        //myStateProv.LoadUser("mperry", "testtest");


        MyAuth.LoadUser("mperry", "testtest");

        var AuthState = await MyAuth.GetAuthenticationStateAsync();
    }


}
