@page "/login"


<h3>Login</h3>

<div class="form-group row m-b-15">
    <label class="col-md-3 col-form-label">Username</label>
    <div class="col-md-7">
        <input @bind-value="Username" type="text" class="form-control" placeholder=" Enter username" />
    </div>
</div>
<div class="form-group row m-b-15">
    <label class="col-md-3 col-form-label">Password</label>
    <div class="col-md-7">
        <input @bind-value="Password" type="text" class="form-control" placeholder="Enter password" />
    </div>
</div>
<button type="button" @onclick="LoginUser" class="btn btn-sm btn-primary m-r-5">Login</button>


@code {
    string Username;
    string Password;
    string Message;

    private async void LoginUser()
    {
        // Call Jwr.Server --> https://localhost:5001/token/authenticate passing in Username & Password
        // Rx a Jwt back
        // WHAT DO WE DO WITH THE JWT??

    }
}
